@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0.5rem;
    background-color: #333;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

img {
    border: 2px solid #4682b4;
    border-radius: 2rem;
    max-width: 600px;
}

h1 {
    font-size: 4rem;
}

ul {
    list-style-type: none;
    border: 2px solid #4682b4;
    border-radius: 2rem;
}

a {
    color: #4682b4;
    text-decoration: none;
}

a:visited {
    color: rgb(163, 144, 197);
}

a:hover, a:active {
    color: #eee;
    background-color: rgb(1, 7, 12);
    cursor: pointer;
}
